body {
	
	/*background: #575757;*/
	/*background: #000033;*/
}

#footer { 
	background: url(../img/footer.png) no-repeat;
	width: 100%;
	height: 70px;
	background: #006600;
	bottom: 0;
	position: fixed;
	/*width: 1024px;*/	
}
#monBouton {
	border-radius:12px 0 12px 0;
	background: #d34836;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;


}

#container {
	/*background: #330066;*/
	width: 1030px;
	height: 195px;
	border: 1px solid #fff;
	margin: 0 auto;
	margin-top: 0;

}

.logo{
	float: center;
	width:790px;
	height:100px;
	margin-top: 5px;
    margin-left:100px;
    border: 1px solid #fff;
}
.bgtittre {
	background-image: url("images/bgtittre.jpg");
	width: 500px;
	height: 10px;
	border: 10px solid #fff;

}

.tittre {
	text-align: center;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #fff;
	color:black;
	font-size: 300%;
	text-shadow: 0px 0px 12px #ccc;
	vertical-align: top;
	
	width: 700px;
	margin: 0 auto;
}
.soustittre {
	text-align: center;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #fff;
	color: black;
	font-size: 150%;
	text-shadow: 0px 0px 12px #ccc;
	
	width: 700px;
	margin: 0 auto;
}

/* MENU PRIMAIRE*/
.menu {
	list-style: none;
	margin: 0; /* eventuel */
	padding: 0; /* eventuel */
	margin-top:29px;
	background: #DD5020;
	
}
ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu  li {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 40px;
	border-right: 1px solid #000;
}
.menu  li  a {
	display: block;/*  */
	color: #000;
	text-decoration: none;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	font-weight: bold;
	width: inherit;
	height: inherit;
	/*border: 1px solid #fff;*/ /* eventuel , voir background dans nav*/
	text-align: center;
	line-height: 40px;

}
.menu  li:hover  a {
	background-color: #006600;
	color: #fff;

}

/* MENU SECONDAIRE*/
.menu  li  .sousmenu {
	background: #161616;
	display: none;
}
.menu  li:hover  .sousmenu {
	display: block;
}
.menu > li > .sousmenu > li {
	width: inherit;
	height: 40px;
}

.menu  li  .sousmenu  li  a {
	display: block;
	width: inherit;
	height: inherit;
	/*border: 1px solid #fff;*/
	line-height: 40px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
.menu  li  .sousmenu  li:hover  a {
	background: #DD5020;
	color: #000;

}
.bienvenue {
	text-align: center;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #006600;
	font-size: 300%;
	text-shadow: 0px 0px 12px #ccc;
	vertical-align: top
	width: 700px;
	margin: 0 auto;
}

/* .for{float: center;margin: 0 auto;width: 1030; height: 450}*/
 .for{width: 1030px;height: 620px;;margin: 0 auto;margin-top: 0;}
    form#contact{border:2px solid orange;width:100%;padding:1em}  
    p#msg,p#adr,p#obj{border:2px solid green;margin-right:10%;padding:10px}  
    p#msg textarea{border:2px solid orange;height:10em;width:80%}  
    p#adr input,p#obj input{border:2px solid orange}  
    p.bt{text-align:center}  
    p.bt input{border:1px red solid;width:50%}  

.tcontact {
	width: 1030px;
	height: 70px;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #006600;
	border: 1px solid #fff;
	margin: 0 auto;
	margin-top: 0;
}
/*PAGES PRESENTATION*/
.tpresentation {
	width: 1030px;height: 70px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #006600;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cpresentation {
	width: 1030px;height: 150px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cpresentationfonct {
	width: 1030px;height: 230px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cpresentationpers {
	width: 1030px;height: 110px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cpresentationrecrut {
	width: 1030px;height: 70px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.gauche {float: left;}
.milieu {float: left;margin-left: 90px;}
.droite {float: left; margin-left: 150px;}

.cpresentationrecrutement {
	width: 1030px;height: 70px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cpresentationrecrutement1 {
	width: 1030px;height: 40px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cpresentationeng {
	width: 1030px;height: 70px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}


.gaucheEng {float: left;width: 500px;height: 450px}
.droiteEng {float: right;}

/*PRESTATIONS*/
.tprestation {
	width: 1030px;height: 70px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #DD5020;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cprestation1 {
	width: 1030px;height: 30px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.stprestation {
	width: 1030px;height: 50px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #006600;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cprestation2 {
	width: 1030px;height: 70px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

li.liG {float: left;width: 40%;}
li.liD {float: left;width: 40%;margin-left: 90px;}

.stprestation2 {
	width: 1030px;height: 50px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #DD5020;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cprestation3 {
	width: 1030px;height: 50px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cprestation4 {
	width: 1030px;height: 70px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

ul.ULG {float: left;width: 30%;}
ul.ULC {float: left;width: 30%;margin-left: 90px;}
ul.ULD {float: left;width: 30%;margin-left: 90px;}

.cprestation5 {
	width: 1030px;height: 250px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

ul.ULG1 {float: left;width: 45%;}

.tencadrement {
	width: 1030px;height: 70px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #006600;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cencadrement1 {
	width: 1030px;height: 20px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.sencadrement {
	width: 1030px;height: 70px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #DD5020;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cencadrement2 {
	width: 1030px;height: 120px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

ul.ULEncG {float: left;width: 30%;}
ul.ULEncC {float: left;width: 30%;margin-left: 50px;}
ul.ULEncD {float: left;width: 30%;margin-left: 90px;}

.cencadrement3 {
	width: 1030px;height: 30px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

/*FISCALITE*/
.tfiscalite {
	width: 1030px;height: 70px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #DD5020;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.cfiscalite {
	width: 1030px;height: 120px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

/*NOS TARIFS*/
.tarif {
	width: 1030px;height: 70px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #DD5020;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.tarif1 {
	width: 1030px;height: 30px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: black;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.tarif2 {
	width: 1030px;height: 70px;font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #006600;border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.tarifs {
	width: 1030px;height: 250px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.tarifG1 {float: left;width: 250px;}
.tarifD1 {float: left;width: 250px;margin-left: 280px;}

.tarifs1 {
	width: 1030px;height: 120px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

.ctarif {
	width: 1030px;height: 250px;
	border: 1px solid #fff;margin: 0 auto;margin-top: 0;}

/*PAGE PLAN*/
.tplan {
	width: 1030px;
	height: 70px;
	font-size: 80%;
	font-family: "century gauthic","helvetica neue",helvetica sans-serif;
	color: #006600;
	border: 1px solid #fff;
	margin: 0 auto;
	margin-top: 0;
}
.plan {
	float: center;
	width: 1030px;
	height: 450px;
	border: 1px solid #fff;
	margin: 0 auto;
	margin-left: 100;
}

.slideshow {
	
   float: center;
   width: 1000px;
   height: 450px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
   margin: 0 auto;
	margin-top: 0;
   position: relative;
   z-index: -1;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
    display: inline-block;
   width: 350px;
   height: 4500px;
   padding:0; 
   list-style: none;
}
.slideshow li {
   float: center;

}

